body {
background-image: url(https://webneel.com/daily/sites/default/files/images/daily/04-2013/7-colorful-photography.jpg);
color:white;
background-size: 100% 100%;
background-repeat: no-repeat;
background-attachment: fixed;
text-align:center;
}

h1 {color: white;}

.color-table {
width:30%;
margin-left:auto;
margin-right:auto;}