<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Colour Catcher</title>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAP8IAADM/wD/+wAA/3cAAAAA/wD/AIwAAP/7AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAFUidxFEM2YAVSJ3EUQzZgBVIncRRDNmAFUidxFEM2YAVSJ3EUQzZgBVIncRRDNmAFUidxFEM2YAVSJ3EUQzZgBVIncRRDNmAFUidxFEM2YAVSJ3EUQzZgBVIncRRDNmAFUidxFEM2YAVSJ3EUQzZgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />
</head>
<body>
